*{
    margin: 0;
    padding: 0;
}
nav{
    height: 5vh;
    background-color: black;
    padding: 2vmin;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    height: 87vh;
    padding: 2vmin;
    font-weight: bold;
}